{% extends 'base.html' %}

{% block title %}YaCut - загрузка файлов{% endblock %}

{% block content %}
<section class="container my-5 px-4">
  <h1 class="text-center"><span style="color:red">Ya</span>Cut</h1>
  <p class="text-center my-4">
    Загрузите файлы и получите на них короткие ссылки
  </p>

  <div class="container">
    <div class="row my-3">
      <div class="col-sm"></div>
      <div class="col-sm">
        <form method="POST" action="{{ url_for('files_view') }}" enctype="multipart/form-data">
          {{ form.csrf_token }}
          <div>
            <div>
              {{ form.files(class="form-control form-control-lg py-2 mb-3", multiple=True) }}
              {% if form.files.errors %}
                <p><span style="color:red">{{ form.files.errors[0] }}</span></p>
              {% endif %}
            </div>
            <input type="submit" class="btn btn-primary" value="Загрузить">
          </div>
        </form>
      </div>
      <div class="col-sm"></div>
    </div>
  </div>

  <!-- Flash сообщения -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="container">
        <div class="row">
          <div class="col-sm"></div>
          <div class="col-sm">
            <p class="text-center">
              <span style="color:red">{{ message }}</span>
            </p>
          </div>
          <div class="col-sm"></div>
        </div>
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% if uploaded_files %}
  <div class="container">
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm">
        <table class="table">
          <tbody>
            {% for file in uploaded_files %}
            <tr>
              <td class="align-middle">{{ file.filename }}</td>
              <td class="text-end align-middle">
                <a href="{{ file.full_link }}">
                  {{ request.host }}/{{ file.short_link }}
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-sm"></div>
    </div>
  </div>
  {% else %}
  <div class="container">
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm">
        <h5 class="text-center">Загрузите файлы для обработки</h5>
      </div>
      <div class="col-sm"></div>
    </div>
  </div>
  {% endif %}
</section>
{% endblock %}